<div><img ng-src="{{selectedPrac.avatar == '' && '../img/defaultimg.jpg' || 'selectedPrac.avatar'}}"
 width="150" height="150" border="0" /></div>
    <form id="dateRangeForm" name="profileForm" novalidate class="form-horizontal">
      <fieldset>
        <legend>Onboard Doctor</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="Physio Mobile Number">Mobile Number</label>
          <div class="col-md-6">
            <input id="Physio Mobile Number" name="PhysioMobileNumber" ng-model="selectedPrac.phoneNumber" type="text" placeholder="EG:9012345678" class="form-control input-md" required="" ng-pattern="/^[0-9]{10}$/">
          <span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.PhysioMobileNumber.$dirty && (profileForm.PhysioMobileNumber.$invalid || profileForm.PhysioMobileNumber.$error.required || profileForm.PhysioMobileNumber.$error.pattern)">
              Please enter a valid mobile number.
          </span>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-5 control-label" for="Physio IAP Number">IAP Number</label>
          <div class="col-md-6">
            <input id="Physio Mobile Number" name="PhysioIAPNumber" ng-model="selectedPrac.iapNumber" type="text" placeholder="EG:9012345678" class="form-control input-md" required="" ng-pattern="/^[A-Za-z0-9]{1,10}$/">
          <span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.PhysioIAPNumber.$dirty && (profileForm.PhysioIAPNumber.$invalid || profileForm.PhysioIAPNumber.$error.required || profileForm.PhysioIAPNumber.$error.pattern)">
              Please enter a valid IAP number.
          </span>
          </div>
        </div>
        
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="Physio First Name">First Name</label>
          <div class="col-md-6">
            <input id="Physio First Name" class="form-control input-md" type="text" ng-model="selectedPrac.practGivenName" name="practGivenName" required  ng-pattern="/^[A-Za-z0-9]{5,50}$/">
            <span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.practGivenName.$dirty && (profileForm.practGivenName.$invalid || profileForm.practGivenName.$error.required || profileForm.practGivenName.$error.pattern)">
              Please enter a valid First name.
          </span>
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="Physio Last Name">Last Name</label>
          <div class="col-md-6">
            <input type="text" id="Physio Last Name" class="form-control input-md" ng-model="selectedPrac.practLastName" 
            name="practLastName" required ng-pattern="/^[A-Za-z0-9]{1,50}$/">
            <span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.practLastName.$dirty && (profileForm.practLastName.$invalid || profileForm.practLastName.$error.required || profileForm.practLastName.$error.pattern)">
              Please enter a valid Last name.
          </span>
          </div>
        </div>
        
        <!-- Email Address-->
        <div class="form-group">
          <label class="col-md-5 control-label">Email Address</label>
          <div class="col-md-6 email">
            <div class="input-group input-append email" id="email">
              <input type="email" class="form-control" ng-model="selectedPrac.email" name="pemail" placeholder="EG: dr.physio@onehealth.solutions" required>
              <span class="input-group-addon add-on"><span class="glyphicon glyphicon-envelope"></span></span>
              <span class="validation-error validation-error-stlye-profile" ng-show="profileForm.pemail.$error.email">Not valid email!</span>
              </div>
          </div>
        </div>
        
        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-5 control-label" for="specialization">Specialization</label>
          <div class="col-md-6">
          <select name="specialization" class="form-control" ng-model="selectedPrac.specialization" 
           ng-selected="selectedPrac.specialization" required>
            <option ng-repeat="option in sitems" value="{{option.value}}">{{option.name}}</option></select>
            
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="Location">Location</label>
          <div class="col-md-6">
            <input id="Location" name="locations" ng-model="selectedPrac.locations" type="text" placeholder="EG: VIKRAM HOSPITAL" class="form-control input-md" required ng-pattern="/^[A-Za-z0-9, ]{1,500}$/">
          <span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.locations.$dirty && (profileForm.locations.$invalid || profileForm.locations.$error.required || profileForm.locations.$error.pattern)">
              Please enter valid location names.
          </span>
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="Location">Home Care</label>
          <div class="col-md-6">
            <input name="homecare" class="frt" type="checkbox" ng-model="selectedPrac.homeCare"
           ng-true-value="'true'" ng-false-value="'false'" style="height: 30px;">
          </div>
        </div>
        <!-- Prepended checkbox -->
        <div class="col-md-12 text-center">
        <div class="col-md-1" style="width: 13%;" ng-click="mond();">Mon</div>
        <div class="col-md-1" style="width: 13%;" ng-click="tued();">Tue</div>
        <div class="col-md-1" style="width: 13%;" ng-click="wedd();">Wed</div>
        <div class="col-md-1" style="width: 13%;" ng-click="thud();">Thu</div>
        <div class="col-md-1" style="width: 12%;" ng-click="frid();">Fri</div>
        <div class="col-md-1" style="width: 12%;" ng-click="satd();">Sat</div>
        <div class="col-md-1" style="width: 12%;" ng-click="sund();">Sun</div>
        <div class="col-md-1" style="width: 12%;" ng-click="alld();">All</div>
        </div>
       
        <label class="col-md-5 control-label" style="color:#000;" for="monday">Timings</label>
        <div class="form-group" ng-show="mon"> 
          
          <div class="col-md-12">
            <div class="input-group"> <span class="input-group-addon">
              <label>Monday</label></span>
              <input type="text" name="mtime-in1" list="mtime-in1" class="form-control1" ng-mpdel="selectedPrac.timing.mon.s1[1]" placeholder="In Time One"/>
              	<datalist id="mtime-in1" name="mtime-in1" class="form-control1">
                    <option ng-repeat="mtimein in mintime" value="{{mtimein.value}}">{{mtimein.name}}</option>
				</datalist>
                <input type="text" name="mtime-out1" list="mtime-out1" class="form-control1" ng-mpdel="selectedPrac.timing.mon.s1[2]" placeholder="Out Time One"/>
              	<datalist id="mtime-out1" name="mtime-out1" class="form-control1">
                    <option ng-repeat="mtimeout in mouttime" value="{{mtimeout.value}}">{{mtimeout.name}}</option>
				</datalist>
                
                <input type="text" name="mtime-in2" list="mtime-in2" class="form-control1" ng-mpdel="selectedPrac.timing.mon.s2[1]" placeholder="In Time Two"/>
              	<datalist id="mtime-in2" name="mtime-in2" class="form-control1">
                    <option ng-repeat="mtimein1 in mintime" value="{{mtimein1.value}}">{{mtimein1.name}}</option>
				</datalist>
                <input type="text" name="mtime-out2" list="mtime-out2" class="form-control1" ng-mpdel="selectedPrac.timing.mon.s2[2]" placeholder="Out Time Two"/>
              	<datalist id="mtime-out2" name="mtime-out2" class="form-control1">
                    <option ng-repeat="mtimeout1 in mintime" value="{{mtimeout1.value}}">{{mtimeout1.name}}</option>
				</datalist>
                
            </div>
          </div>
        </div>
        
        <!-- Prepended checkbox -->
        <div class="form-group" ng-show="tue">
          <label class="col-md-5 control-label" for="tuesday"></label>
          <div class="col-md-12">
            <div class="input-group"> <span class="input-group-addon">
              <label>Tuesday</label></span>
              
              <input type="text" name="ttime-in1" list="ttime-in1" class="form-control1" ng-mpdel="selectedPrac.timing.tue.s1[1]" placeholder="In Time One"/>
              	<datalist id="ttime-in1" name="ttime-in1" class="form-control1">
                    <option ng-repeat="mtimein in mintime" value="{{mtimein.value}}">{{mtimein.name}}</option>
				</datalist>
                <input type="text" name="ttime-out1" list="ttime-out1" class="form-control1" ng-mpdel="selectedPrac.timing.tue.s1[2]" placeholder="Out Time One"/>
              	<datalist id="mtime-out1" name="mtime-out1" class="form-control1">
                    <option ng-repeat="mtimeout in mouttime" value="{{mtimeout.value}}">{{mtimeout.name}}</option>
				</datalist>
                
                <input type="text" name="ttime-in2" list="ttime-in2" class="form-control1" ng-mpdel="selectedPrac.timing.tue.s2[1]" placeholder="In Time Two"/>
              	<datalist id="ttime-in2" name="ttime-in2" class="form-control1">
                    <option ng-repeat="mtimein1 in mintime" value="{{mtimein1.value}}">{{mtimein1.name}}</option>
				</datalist>
                <input type="text" name="ttime-out2" list="ttime-out2" class="form-control1" ng-mpdel="selectedPrac.timing.tue.s2[2]" placeholder="Out Time Two"/>
              	<datalist id="ttime-out2" name="ttime-out2" class="form-control1">
                    <option ng-repeat="mtimeout1 in mintime" value="{{mtimeout1.value}}">{{mtimeout1.name}}</option>
				</datalist>
              
            </div>
          </div>
        </div>
        
        <!-- Prepended checkbox -->
        <div class="form-group" ng-show="wed">
          <label class="col-md-5 control-label" for="wednesday"></label>
          <div class="col-md-12">
            <div class="input-group"> <span class="input-group-addon">
              <label>Wednesday</label></span>
              
              <input type="text" name="wtime-in1" list="wtime-in1" class="form-control1" ng-mpdel="selectedPrac.timing.wed.s1[1]" placeholder="In Time One"/>
              	<datalist id="wtime-in1" name="wtime-in1" class="form-control1">
                    <option ng-repeat="mtimein in mintime" value="{{mtimein.value}}">{{mtimein.name}}</option>
				</datalist>
                <input type="text" name="wtime-out1" list="wtime-out1" class="form-control1" ng-mpdel="selectedPrac.timing.wed.s1[2]" placeholder="Out Time One"/>
              	<datalist id="wtime-out1" name="wtime-out1" class="form-control1">
                    <option ng-repeat="mtimeout in mouttime" value="{{mtimeout.value}}">{{mtimeout.name}}</option>
				</datalist>
                
                <input type="text" name="wtime-in2" list="wtime-in2" class="form-control1" ng-mpdel="selectedPrac.timing.wed.s2[1]" placeholder="In Time Two"/>
              	<datalist id="wtime-in2" name="wtime-in2" class="form-control1">
                    <option ng-repeat="mtimein1 in mintime" value="{{mtimein1.value}}">{{mtimein1.name}}</option>
				</datalist>
                <input type="text" name="wtime-out2" list="wtime-out2" class="form-control1" ng-mpdel="selectedPrac.timing.wed.s2[2]" placeholder="Out Time Two"/>
              	<datalist id="wtime-out2" name="wtime-out2" class="form-control1">
                    <option ng-repeat="mtimeout1 in mintime" value="{{mtimeout1.value}}">{{mtimeout1.name}}</option>
				</datalist>
                
            </div>
          </div>
        </div>
        
        <!-- Prepended checkbox -->
        <div class="form-group" ng-show="thu">
          <label class="col-md-5 control-label" for="thursday"></label>
          <div class="col-md-12">
            <div class="input-group"> <span class="input-group-addon">
              <label>Thursday</label></span>
             
              <input type="text" name="thtime-in1" list="thtime-in1" class="form-control1" ng-mpdel="selectedPrac.timing.thu.s1[1]" placeholder="In Time One"/>
              	<datalist id="thtime-in1" name="thtime-in1" class="form-control1">
                    <option ng-repeat="mtimein in mintime" value="{{mtimein.value}}">{{mtimein.name}}</option>
				</datalist>
                <input type="text" name="thtime-out1" list="thtime-out1" class="form-control1" ng-mpdel="selectedPrac.timing.thu.s1[2]" placeholder="Out Time One"/>
              	<datalist id="thtime-out1" name="thtime-out1" class="form-control1">
                    <option ng-repeat="mtimeout in mouttime" value="{{mtimeout.value}}">{{mtimeout.name}}</option>
				</datalist>
                
                <input type="text" name="thtime-in2" list="thtime-in2" class="form-control1" ng-mpdel="selectedPrac.timing.thu.s2[1]" placeholder="In Time Two"/>
              	<datalist id="thtime-in2" name="thtime-in2" class="form-control1">
                    <option ng-repeat="mtimein1 in mintime" value="{{mtimein1.value}}">{{mtimein1.name}}</option>
				</datalist>
                <input type="text" name="thtime-out2" list="thtime-out2" class="form-control1" ng-mpdel="selectedPrac.timing.thu.s2[2]" placeholder="Out Time Two"/>
              	<datalist id="thtime-out2" name="thtime-out2" class="form-control1">
                    <option ng-repeat="mtimeout1 in mintime" value="{{mtimeout1.value}}">{{mtimeout1.name}}</option>
				</datalist>
             
            </div>
          </div>
        </div>
        
        <!-- Prepended checkbox -->
        <div class="form-group" ng-show="fri">
          <label class="col-md-5 control-label" for="friday"></label>
          <div class="col-md-12">
            <div class="input-group"> <span class="input-group-addon">
              <label>Friday</label></span>
              
              <input type="text" name="ftime-in1" list="ftime-in1" class="form-control1" ng-mpdel="selectedPrac.timing.fri.s1[1]" placeholder="In Time One"/>
              	<datalist id="ftime-in1" name="ftime-in1" class="form-control1">
                    <option ng-repeat="mtimein in mintime" value="{{mtimein.value}}">{{mtimein.name}}</option>
				</datalist>
                <input type="text" name="ftime-out1" list="ftime-out1" class="form-control1" ng-mpdel="selectedPrac.timing.fri.s1[2]" placeholder="Out Time One"/>
              	<datalist id="ftime-out1" name="ftime-out1" class="form-control1">
                    <option ng-repeat="mtimeout in mouttime" value="{{mtimeout.value}}">{{mtimeout.name}}</option>
				</datalist>
                
                <input type="text" name="ftime-in2" list="ftime-in2" class="form-control1" ng-mpdel="selectedPrac.timing.fri.s2[1]" placeholder="In Time Two"/>
              	<datalist id="ftime-in2" name="ftime-in2" class="form-control1">
                    <option ng-repeat="mtimein1 in mintime" value="{{mtimein1.value}}">{{mtimein1.name}}</option>
				</datalist>
                <input type="text" name="ftime-out2" list="ftime-out2" class="form-control1" ng-mpdel="selectedPrac.timing.fri.s2[2]" placeholder="Out Time Two"/>
              	<datalist id="ftime-out2" name="ftime-out2" class="form-control1">
                    <option ng-repeat="mtimeout1 in mintime" value="{{mtimeout1.value}}">{{mtimeout1.name}}</option>
				</datalist>
                
            </div>
          </div>
        </div>
        
        <!-- Prepended checkbox -->
        <div class="form-group" ng-show="sat">
          <label class="col-md-5 control-label" for="saturday"></label>
          <div class="col-md-12">
            <div class="input-group"> <span class="input-group-addon">
              <label>Saturday</label></span>
              
              <input type="text" name="stime-in1" list="stime-in1" class="form-control1" ng-mpdel="selectedPrac.timing.sat.s1[1]" placeholder="In Time One"/>
              	<datalist id="stime-in1" name="stime-in1" class="form-control1">
                    <option ng-repeat="mtimein in mintime" value="{{mtimein.value}}">{{mtimein.name}}</option>
				</datalist>
                <input type="text" name="stime-out1" list="stime-out1" class="form-control1" ng-mpdel="selectedPrac.timing.sat.s1[2]" placeholder="Out Time One"/>
              	<datalist id="stime-out1" name="stime-out1" class="form-control1">
                    <option ng-repeat="mtimeout in mouttime" value="{{mtimeout.value}}">{{mtimeout.name}}</option>
				</datalist>
                
                <input type="text" name="stime-in2" list="stime-in2" class="form-control1" ng-mpdel="selectedPrac.timing.sat.s2[1]" placeholder="In Time Two"/>
              	<datalist id="stime-in2" name="stime-in2" class="form-control1">
                    <option ng-repeat="mtimein1 in mintime" value="{{mtimein1.value}}">{{mtimein1.name}}</option>
				</datalist>
                <input type="text" name="stime-out2" list="stime-out2" class="form-control1" ng-mpdel="selectedPrac.timing.sat.s2[2]" placeholder="Out Time Two"/>
              	<datalist id="stime-out2" name="stime-out2" class="form-control1">
                    <option ng-repeat="mtimeout1 in mintime" value="{{mtimeout1.value}}">{{mtimeout1.name}}</option>
				</datalist>
                
            </div>
          </div>
        </div>
        
        <!-- Prepended checkbox -->
        <div class="form-group" ng-show="sun">
          <label class="col-md-5 control-label" for="sunday"></label>
          <div class="col-md-12">
            <div class="input-group"> <span class="input-group-addon">
              <label>Sunday</label></span>
              
              <input type="text" name="sutime-in1" list="sutime-in1" class="form-control1" ng-mpdel="selectedPrac.timing.sun.s1[1]" placeholder="In Time One"/>
              	<datalist id="sutime-in1" name="sutime-in1" class="form-control1">
                    <option ng-repeat="mtimein in mintime" value="{{mtimein.value}}">{{mtimein.name}}</option>
				</datalist>
                <input type="text" name="sutime-out1" list="sutime-out1" class="form-control1" ng-mpdel="selectedPrac.timing.sun.s1[2]" placeholder="Out Time One"/>
              	<datalist id="sutime-out1" name="sutime-out1" class="form-control1">
                    <option ng-repeat="mtimeout in mouttime" value="{{mtimeout.value}}">{{mtimeout.name}}</option>
				</datalist>
                
                <input type="text" name="sutime-in2" list="sutime-in2" class="form-control1" ng-mpdel="selectedPrac.timing.sun.s2[1]" placeholder="In Time Two"/>
              	<datalist id="sutime-in2" name="sutime-in2" class="form-control1">
                    <option ng-repeat="mtimein1 in mintime" value="{{mtimein1.value}}">{{mtimein1.name}}</option>
				</datalist>
                <input type="text" name="sutime-out2" list="sutime-out2" class="form-control1" ng-mpdel="selectedPrac.timing.sun.s2[2]" placeholder="Out Time Two"/>
              	<datalist id="sutime-out2" name="sutime-out2" class="form-control1">
                    <option ng-repeat="mtimeout1 in mintime" value="{{mtimeout1.value}}">{{mtimeout1.name}}</option>
				</datalist>
              
            </div>
          </div>
        </div>
        
        <!-- Date Picker-->
        <div class="form-group">
          <label class="col-md-5 control-label">Date of Birth</label>
          <div class="col-md-6 date">
            <!--<div class="input-group input-append date" id="dateRangePicker1">
              <input type="text" class="form-control" name="dbdate" ng-model="selectedPrac.dateOfBirth" />
              <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> </div>-->
              <div class="input-group input-append date" id="dateRangePicker1">
              <input type="datetime" class="form-control" name="dbdate" ng-model="selectedPrac.dateOfBirth" />
              <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span> </div>
          </div>
        </div>
        
        <!-- Text input-->
        <!--<div class="form-group">
          <label class="col-md-3 control-label" for="Age">Age</label>
          <div class="col-md-4">
            <input id="Age" name="Age" type="text" placeholder="Age" class="form-control input-md">
          </div>
        </div>-->
        
        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-5 control-label" for="Sex">Sex</label>
          <div class="col-md-6">
            <fieldset>
              <label>
                <input type="radio" ng-model="selectedPrac.sex" value="male"   name="sex" ng-checked="selectedPrac.sex != 'female'">
                Male</label>
              <label>
                <input type="radio" ng-model="selectedPrac.sex" value="female" name="sex" ng-checked="selectedPrac.sex == 'female'">
                Female</label>
            </fieldset>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-5 control-label" for="Physio Address One">Address Line 1</label>
          <div class="col-md-6">
            <input id="Physio Address 1" name="PhysioAddress1" ng-model="selectedPrac.addressLine1" type="text" placeholder="EG:9012345678" class="form-control input-md" required="" ng-pattern="/^[A-Za-z0-9-#/., ]{1,100}$/">
          <span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.PhysioAddress1.$dirty && (profileForm.PhysioAddress1.$invalid || profileForm.PhysioAddress1.$error.required || profileForm.PhysioAddress1.$error.pattern)">
              Please enter valid Address.
          </span>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-5 control-label" for="Physio Address One">Address Line 2</label>
          <div class="col-md-6">
            <input id="Physio Address 2" name="PhysioAddress2" ng-model="selectedPrac.addressLine2" type="text" placeholder="EG:9012345678" class="form-control input-md" ng-pattern="/^[A-Za-z0-9-#/., ]{1,100}$/">
          <span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.PhysioAddress2.$dirty && (profileForm.PhysioAddress2.$invalid || profileForm.PhysioAddress2.$error.pattern)">
              Please enter valid Address.
          </span>
          </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-5 control-label" for="City">City</label>
          <div class="col-md-6">
            <input id="Physio city" name="PhysioCity" ng-model="selectedPrac.city" type="text" placeholder="EG:Karnataka" class="form-control input-md" required="" ng-pattern="/^[A-Za-z -]{1,50}$/">
          <span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.PhysioCity.$dirty && (profileForm.PhysioCity.$invalid || profileForm.PhysioCity.$error.required || profileForm.PhysioCity.$error.pattern)">
              Please enter valid City.
          </span>
          </div>
        </div>
        
        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-5 control-label" for="State">State</label>
          <div class="col-md-6">
            <!--<select id="State" name="State" class="form-control">
              <option value="1">Karnataka</option>
              <option value="2">Andhra Pradesh</option>
              <option value="3">Telugana</option>
            </select>-->
            <input id="Physio State" name="PhysioState" ng-model="selectedPrac.state" type="text" placeholder="EG:Karnataka" class="form-control input-md" required="" ng-pattern="/^[A-Za-z -]{1,50}$/">
          <span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.PhysioState.$dirty && (profileForm.PhysioState.$invalid || profileForm.PhysioState.$error.required || profileForm.PhysioState.$error.pattern)">
              Please enter valid City.
          </span>
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="Pincode">Pincode</label>
          <div class="col-md-6">
            <input id="Pincode" name="Pincode" ng-model="selectedPrac.zipcode" type="text" placeholder="Pincode" class="form-control input-md" required ng-pattern="/^[0-9]{6}$/">
 			<span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.Pincode.$dirty && (profileForm.Pincode.$invalid || profileForm.Pincode.$error.required || profileForm.Pincode.$error.pattern)">
              Please enter valid City.
          </span>
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-5 control-label" for="Emergency Contact Number">Emergency Contact Number</label>
          <div class="col-md-6">
            <input id="Emergency Contact Number" name="emergencyContact" ng-model="selectedPrac.econtactNumber" type="text" placeholder="Emergency Contact Number" class="form-control input-md" ng-pattern="/^[0-9]{10}$/">
           <span class="validation-error validation-error-stlye-profile"
                ng-show="profileForm.emergencyContact.$dirty && (profileForm.emergencyContact.$invalid || profileForm.emergencyContact.$error.pattern)">
              Please enter valid City.
          </span>
           </div>
        </div>
        
        <!-- File Button -->
        <div class="form-group">
          <label class="col-md-5 control-label" for="Photo">Photo</label>
          <div class="col-md-6">
            <input id="Photo" name="Photo" class="input-file" type="file">
          </div>
        </div>
        <div class="col-lg-12 text-center"><div class="col-lg-5 text-center"><button type="button" name="submit_practitioner" ng-show="save_prac" ng-click="savesec()"
      ng-disabled="profileForm.PhysioMobileNumber.$pristine || profileForm.PhysioIAPNumber.$pristine || profileForm.practGivenName.$pristine
       || profileForm.practLastName.$pristine || profileForm.pemail.$pristine || profileForm.specialization.$pristine || 
       profileForm.locations.$pristine || profileForm.PhysioAddress1.$pristine || profileForm.PhysioCity.$pristine 
      || profileForm.PhysioState.$pristine || profileForm.Pincode.$pristine">Save</button>
      <button type="button" name="update_practitioner" ng-show="update_prac" ng-click="updatesec()">Update</button>
      </div>
      <!--<button type="save" class="btn btn-default">Save</button>-->
      <div class="col-lg-5 text-center"><button type="button" class="btn btn-default" ng-click="cancelPrac()">Cancel</button></div>
      </fieldset>
      
      </div>
    </form>